<% order.statuses_for_display.each do |status| %>
  <div class="badge <%= order.status == status ? 'badge-primary' : 'badge-ghost' %>">
    <%= t("activerecord.attributes.order.statuses.#{status}") %>
  </div>
<% end %>
