<% if order.draft? %>
  <span class="du-badge du-badge-neutral">
    <%= t("activerecord.attributes.order.statuses.draft") %>
  </span>
<% else %>
  <div class="flex flex-wrap items-center gap-2 text-sm">
    <% order.statuses_for_display.each_with_index do |status_in_sequence, index| %>
      <% is_current_status = (order.status == status_in_sequence) %>
      <span class="<%= status_badge_classes(is_current_status) %>">
        <%= t("activerecord.attributes.order.statuses.#{status_in_sequence}") %>
      </span>
      <% unless index == order.statuses_for_display.size - 1 %>
        <i class="fa-solid fa-chevron-right text-base-content text-xs"></i>
      <% end %>
    <% end %>
  </div>
<% end %>
