<%= form_for [order_item.order, order_item], method: :put do |f| %>
  <div class="join">
    <button type="button" class="join-item btn btn-sm" onclick="this.nextElementSibling.stepDown(); this.nextElementSibling.oninput()">-</button>
    <%= f.number_field :quantity, 
        min: 1, 
        oninput: "this.form.requestSubmit()", 
        required: true,
        class: "join-item w-16 text-center bg-base-100 border border-base-300 rounded-none px-2 py-1" %>
    <button type="button" class="join-item btn btn-sm" onclick="this.previousElementSibling.stepUp(); this.previousElementSibling.oninput()">+</button>
  </div>
<% end %>
