/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

.active {
  background-color: var(--primary);
}

.grid-cols-auto-fit {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

@media (min-width: 768px) {
  .grid-cols-auto-fit {
    grid-template-columns: repeat(3, 1fr);
  }
}

mark:empty {
  display: none !important;
}

#flash:empty {
  display: none !important;
}
