<%= meta_tags(title: @stripe_account.settings.dashboard.display_name, description: Setting.description) %>

<h1>
  <%= @stripe_account.settings.dashboard.display_name %>
</h1>

<p>
  <%= simple_format Setting.description %>
</p>

<div>
  <div class="grid-cols-auto-fit">
    <%= render collection: @products, partial: "products/product", as: :product %>
  </div>
</div>
