<%= meta_tags(title: t(".title"), description: Setting.description) %>

<p>
  <%= simple_format Setting.description %>
</p>
<div class="container mx-auto px-4 py-8">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
    <%= render @products %>
  </div>

  <div class="flex justify-center mt-8">
    <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
  </div>
</div>
